.darkbackground
{
    filter: brightness(80%);
}
.darkstepbranch,.darksecuritybranch
{
    background-color: #D9D9D9;
}
.darkstepsheader
{
    background: linear-gradient(90deg,#D9D9D9 81%,#cfcfcf 81%,#7F7F7F 100%);
}
.darkstepsheader::before
{
    content: "";
    filter: grayscale(100%);
}
.darksecurityicon
{
    color: #7F7F7F;
}
.darkstepsheadertxt,.darksteptxt,.darksecuritytxt
{
    color: #595959;
}
.darksteptxt::before
{
    content: "";
    background-color: #595959;
}
.darkstyleybottom
{
    background-color: #BFBFBF;
}